<head><link href="d41d8cd98f00b204e9800998ecf8427e.css" rel="stylesheet"></head><body>
    <div id="app">Loading...</div>
<script type="text/javascript" src="f1299d02d1aa91b44a00.js"></script></body>
